@charset "UTF-8";

/*---------------------- COLORS CODE ----------------------*/

:root {
    --MediumBlue: #1E26BF;
    --HotPink: #FF6DAF;
    --HoneyYellow: #FFB500;
    --RussianViolet: #2C064B;
    --MidnightBlue: #181168;
    --VioletCrayola: #963A7D;

    --BGOnix: #404040;
    --BGGrayWeb: #808080;
    --BGSilver: #C0C0C0;
}

/* Gerais */
body {
    background: linear-gradient(#2c064b 40%, #FF6DAF 100%);
    font-family: 'Source Code Pro', Arial, sans-serif;
}

.row {
    margin: 0;
}

h1 {
    color: #2C064B;
    font-size: 36px;
}

p, li {
    color: #2C064B;
    font-size: 14px;
}

.padding {
    margin: 70px 0;
}

/* Barra de Navegação */
header, .navbar {
    background-color: #404040;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #c0c0c0;
}

.navbar-brand:hover {
    color: #c0c0c0;
}

#navbar-links a {
    color: #c0c0c0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

#main-logo:hover {
    position: absolute;
    width: 90px;
}

/* Home Page */
.cardtype {
    width: 325px;
    height: 500px;
}

footer {
    background-color: #404040;
    border-radius: 15px;
}