* {
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0;
    font-family: "DejaVu Sans", sans-serif;
}

header {
    background-color: red;
}

nav {
    background-color: green;
}

main {
    background-color: orange;
    height: 300px;
}

main > section {
    background-color: darkviolet;
    width: calc(50% - 40px);
    height: 200px;
    margin: auto;
}

aside {
    background-color: blue;
}

footer {
    background-color: magenta;
}
